<p>{{currentUser}}</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="uname">Username</label>
      <input type="text" id="uname" class="form-control" placeholder="Enter Username" formControlName="username" required>
    </div>
    <div class="form-group">
      <label for="psw">Password</label>
      <input type="password" id="psw" class="form-control" placeholder="Enter Password" formControlName="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>